.answerPoll {
    .MuiFormControlLabel-label {
        background-color: #fff;
        border-radius: 4px;
        display: flex;
        flex: 1;
        padding: 8.5px 14px;
        border-bottom: 2px solid #e7e7e7;
    }
}
.rdrDateRangePickerWrapper {
    box-shadow: 1px 2px 14px 2px #33333340;
}
