.topIconButton {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(156, 163, 175);
    span {
        &.MuiButton-startIcon {
            margin: 0;
        }
    }
    &:hover,
    &.active {
        color: #3777d7;
        background-color: transparent;
    }
}

.radioImage .MuiFormControlLabel-label {
    font-size: 12px;
}
