body {
    &.dark {
        background-color: rgb(17, 24, 39);
        color: #fff;
        .sideNav {
            background: rgb(31, 40, 62);
            color: rgb(255, 255, 255);
            .MuiListItemIcon-root {
                color: inherit;
            }
        }
        .paper {
            background: rgb(31, 40, 62);
            box-shadow:
                rgba(52, 71, 103, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
                rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
            hr {
                border-color: rgba(255, 255, 255, 0.12);
            }
        }

        .card {
            background-color: rgb(31, 40, 62);
            border-left: "1px solid #233149";
            border-right: "1px solid #233149";
            border-bottom: "1px solid #233149";

            box-shadow:
                0px 3px 3px -2px rgba(0, 0, 0, 0.2),
                0px 3px 4px 0px rgba(0, 0, 0, 0.14),
                0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            overflow: auto;
        }
        .typography {
            color: #fff;
        }
        .autoComplete,
        .input,
        .select,
        .textarea {
            background-color: rgb(55, 65, 81);
            color: #fff;

            input {
                color: inherit;
            }
        }
        .MuiOutlinedInput-root {
            color: #fff !important;
            &.MuiInputBase-readOnly {
                background-color: rgb(17 24 39 / 53%);
            }
        }
        .bottomBox {
            background-color: rgb(17 24 39 / 53%);
            color: #fff;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 1px solid rgba(52, 71, 103, 0.9);
        }

        .MuiOutlinedInput-root.Mui-disabled:hover .MuiOutlinedInput-notchedOutline,
        .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
            border: 0px solid transparent !important;
            cursor: not-allowed;
        }

        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: rgba(62, 88, 133);
        }

        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: rgb(25, 118, 210);
        }
        .MuiMenu-paper {
            &.MuiMenu-paper {
                background-color: rgb(31, 41, 55);
                color: rgb(156, 163, 175);
            }
            .MuiMenuItem-root:hover {
                background-color: #ffc107;
                color: rgba(0, 0, 0, 0.87);
            }
        }
        .MuiPopover-paper {
            background-color: rgb(17, 24, 39);
            color: rgb(156, 163, 175);
        }
        .rdrDateRangePickerWrapper {
            background-color: rgb(31, 41, 55);
            .rdrDateInput.rdrDateDisplayItem {
                background-color: #00000030;
            }
            .rdrNextPrevButton {
                background-color: rgb(0 0 0 / 38%);
            }
            .rdrCalendarWrapper {
                // background-color: inherit;
                .rdrMonths {
                    .rdrDays {
                        .rdrDayNumber span {
                            color: #fff;
                        }
                    }
                }
            }
            .rdrDefinedRangesWrapper {
                background-color: inherit;
                border-right: solid 1px #eff2f717;
                background: rgb(17, 24, 39);
                background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));

                .rdrStaticRange {
                    background-color: inherit;
                    color: rgb(156, 163, 175);
                    border-bottom: 1px solid #659fff17;
                }
            }
            .rdrMonthAndYearPickers select {
                color: #fff;
            }
            .rdrWeekDay {
                color: #fff;
            }
            .rdrDateDisplayWrapper {
                background-color: rgb(17, 24, 39);
                background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
                .rdrDateDisplayItem {
                    color: rgb(45 54 69);
                }
            }
            .rdrInputRangeInput {
                color: rgb(108, 118, 122);
                background: #1a222e;
                border: solid 1px rgb(222 231 235 / 23%);
            }
            .rdrInputRange {
                span {
                    color: rgb(156, 163, 175);
                }
            }
        }

        .rdrCalendarWrapper {
            background: rgb(17, 24, 39);
            background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
            .rdrMonthAndYearPickers select {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.58);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.58);
                }
            }
            .rdrWeekDay {
                color: #fff;
            }
            .rdrDayPassive {
                .rdrDayNumber span {
                    color: #999;
                }
            }
            .rdrDayNumber span {
                color: #fff;
            }
            .rdrNextPrevButton {
                background-color: rgb(0 0 0 / 38%);
            }
        }
    }
    &.light {
        background-color: #e8e8e8;
        color: #4c4c6d;
        .sideNav {
            background: #fafafa;
            color: #4c4c6d;
            .MuiListItemIcon-root {
                color: inherit;
            }
        }
        .paper {
            background: #fafafa;
            box-shadow:
                0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            hr {
                border-color: #33333336;
            }
        }
        .card {
            background-color: #fdfdfd;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-bottom: 1px solid transparent;
            box-shadow:
                0px 3px 3px -2px rgba(0, 0, 0, 0.2),
                0px 3px 4px 0px rgba(0, 0, 0, 0.14),
                0px 1px 8px 0px rgba(0, 0, 0, 0.12);
            overflow: auto;
        }
        .typography {
            color: #4c4c6d;
        }
        .autoComplete,
        .input,
        .select,
        .textarea {
            background-color: #eee;
            color: #4c4c6d;

            input {
                color: inherit;
            }
        }
        .MuiOutlinedInput-root,
        .MuiInputBase-input {
            color: #4c4c6d !important;
            background-color: #ffff;
            &.Mui-disabled {
                background-color: #efefef;
                cursor: not-allowed;
            }
        }
        .MuiOutlinedInput-root {
            &.MuiInputBase-readOnly {
                background-color: #efefef;
                &.Mui-focused {
                    border-color: #ccc;
                }
                .MuiInputBase-input {
                    background-color: transparent;
                }
            }
        }
        .bottomBox {
            background-color: rgba(255, 255, 255, 0.53);
            color: #4c4c6d;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 1px solid rgba(224, 224, 224, 0.9);
        }

        .MuiOutlinedInput-root.Mui-disabled:hover .MuiOutlinedInput-notchedOutline,
        .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
            border: 0px solid transparent !important;
            cursor: not-allowed;
        }

        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: rgba(189, 189, 189, 0.9);
        }

        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #1b9c85;
        }
        .MuiMenu-paper {
            &.MuiMenu-paper {
                background-color: #fff;
                color: #4c4c6d;
            }
            .MuiMenuItem-root:hover {
                background-color: #1b9c85;
                color: #fff;
            }
        }
        .MuiPopover-paper {
            background-color: rgb(255, 255, 255);
            color: #4c4c6d;
        }
        .rdrCalendarWrapper {
            .rdrMonthAndYearPickers select {
                color: #4c4c6d;
                background-color: #fff;
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}
